
html {
    font-size: 14px;
}


body {
    font-family: var(--font-family);
    font-weight: normal;
    background: var(--surface-ground);
    color: var(--text-color);
    padding: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a{
    text-decoration: none;
}
.search{
    width: 150px;
    height: 30px;
    border-radius: 10px;
    margin: 0;
    direction: rtl;
}
.nav {
    background: var(--surface-card);
    background-color: black;
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    max-height: 100px;
}
.p-menubar ul{
    width: 80%;
    justify-content: space-around ;
}
.bar{
    color:rgb(189, 142, 23);
    font-size: xx-large;
    display: flex;
    justify-content:space-around;
}
.a{
    color:black;
}
span.flag {
    width: 44px;
    height: 30px;
    display: inline-block;
}